.home-swiper-wrapper{

}

.home-swiper{
	max-width: 100%;
	padding-bottom:100px;
	position:relative;
	top:-40px;
	margin-bottom:-40px;
	&:after{
		width:60px;
		height:60px;
		position:absolute;
		bottom: 51px;
		right: 93px;
		border-radius:100px;
		box-shadow: 0 4px 7px 0 rgba(0,0,0,0.21);
		display: block;
		content:"";
		background:url("../images/home-slider/button-icon.svg") no-repeat center center #0062FF;
		@include breakpoint(lg) {
			right: 23px;
		}
		@include breakpoint(md) {
			right: 13px;
		}
	}
	.swiper-slide{
		&.swiper-slide-active{
			img{
				
			}
		}
		img{
			box-shadow: 0 5px 25px 0 rgba(0,0,0,0.24);
			max-width:100%;
			width:300px;
			border-radius: 18px;
			margin: 25px 0;
			@include breakpoint(lg) {
				width:280px;
			}
		}
	}

	.swiper-button-next, .swiper-button-prev{
		top:40%;
		background-size:17px 44px;
		@include breakpoint(md) {
			display: none;
		}
	}

	.swiper-button-next {
		background-image:url("../images/home-slider/page-right.svg");
	}

	.swiper-button-prev{
		background-image:url("../images/home-slider/page-left.svg");
	}



}