.main-hero{
	padding-top:$baseline*10;
	background: url("../images/main-header-bg.svg") no-repeat top right;
	img{
		position:relative;
		top:-20px;
	}
	@include breakpoint(lg) {
		background-position-x:550px;
		img{
			width:440px;
			top:0px;
		}
	}
	@include breakpoint(md) {
		background-position-x:400px;
		img{
			width:420px;
			left:10px;
		}
		.btn{
			margin:0!important;
			margin-bottom:$baseline!important;
		}
	}

	@include breakpoint(sm) {
		padding-top:$baseline*6;
		padding-bottom:none;
		text-align:center;
		background-image:none;
		img{
			margin-top:$baseline*2;
			max-width:100%;
		}
		.btn{
			width:100%;
		}
	}
}

#intro{
	padding-bottom:$baseline*2;
}

#why{
	@include breakpoint(sm) {
		padding-top:0;
	}
}

.why-cards{
	.card{
		min-height:384px;
		@include breakpoint(lg) {
			min-height:412px;
		}
		@include breakpoint(md) {
			min-height:528px;
		}
		@include breakpoint(sm) {
			min-height:auto;
			margin-bottom:$baseline*2;
		}

	}
}



#tools{
	@include breakpoint(sm) {
		padding-top:0;
	}
}

.tools-slider{
	position:relative;
	.tools-text{
		position:absolute;
		top:60px;
		z-index:800;
		width:100%;
		color:white;
	}
	.carousel-inner{
		margin:0 auto;
		position:relative;
		overflow:visible;
		.carousel-item{
			background: url("../images/bg-tools-accent-primary.svg") no-repeat center top;
			background-size:100%;
			padding-top:180px;
			background-position-y:-200px;
			@include breakpoint(lg) {
				background-position-y:-100px;
			}
			@include breakpoint(md) {
				background-position-y:-50px;
			}
		}
		.carousel-caption{
			top:100px;
			@include breakpoint(md) {

			}
			p{
				padding:5px 20px;
				background:$primary-color;
				border-radius:100px;
				text-align:center;
				display:inline-flex;
				font-size:14px;
			}
		}
		.img-container{
			position:relative;
			padding-bottom:40px;
			max-width:300px;
			text-align:center;
			margin:0 auto;
			@include breakpoint(lg) {
				max-width:270px;
			}
			@include breakpoint(md) {
				max-width:260px;
			}
		}
	}


	.carousel-indicators, .tool-slider-indicators{
		position:relative;
		width:100%;
		margin:0 auto;
	}

	.tool-icon{
		text-align:center;
		cursor:pointer;
		@include transition-duration(.2s);
		color:$light-text-color;
		img{
			@include transition-duration(.2s);
			opacity:.8;
			margin-bottom:5px;
		}
		&:hover, &.active{
			color:$dark-text-color;
			background:transparent;
			img{
				opacity:1;
			}
		}
		@include breakpoint(md) {
			img{
				width:50px;
			}
		}
	}
}

///position carousel indicators for tools slider
$tool-indicator-width: 130px;
$tool-indicator-height: 120px;
$tool-indicator-padding: 0px;
$tool-indicator-top-position : -350px;
$tool-indicator-start-position-right-left: -10px;
//lg breakpoint modifiers
$tool-indicator-start-position-right-left-lg: -65px;

//me breakpoint modifiers
$tool-indicator-width-md: 90px;
$tool-indicator-start-position-right-left-md: -90px;



.tools-slider .tool-icon{
	position:absolute;
	right:0px;
	bottom:0;
	width:$tool-indicator-width;
	height:$tool-indicator-height;
	@include breakpoint(md) {
		p{
			 width: 80px;
			 text-align:center;
			 margin:0 auto;
			 font-size:13px;
		}
	}


	&:nth-child(1), &:nth-child(2), &:nth-child(3){
		top:$tool-indicator-top-position;
	}
	&:nth-child(1){
		right:$tool-indicator-start-position-right-left;
		@include breakpoint(lg) {
			right:$tool-indicator-start-position-right-left-lg;
		}
		@include breakpoint(md) {
			right:$tool-indicator-start-position-right-left-md;
		}
	}
	&:nth-child(2){
		right:$tool-indicator-start-position-right-left + $tool-indicator-width;
		@include breakpoint(lg) {
			right:$tool-indicator-start-position-right-left-lg + $tool-indicator-width;
		}
		@include breakpoint(md) {
			right:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md;
		}
	}
	&:nth-child(3){
		right:$tool-indicator-start-position-right-left + $tool-indicator-width*2 ;
		@include breakpoint(lg) {
			right:$tool-indicator-start-position-right-left-lg + $tool-indicator-width*2;
		}
		@include breakpoint(md) {
			right:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md*2;
		}
	}

	&:nth-child(4), &:nth-child(5), &:nth-child(6){
		top:$tool-indicator-top-position  + $tool-indicator-height;
	}

	&:nth-child(4){
		right:$tool-indicator-start-position-right-left;
		@include breakpoint(lg) {
			right:$tool-indicator-start-position-right-left-lg;
		}
		@include breakpoint(md) {
			right:$tool-indicator-start-position-right-left-md;
		}
	}
	&:nth-child(5){
		right:$tool-indicator-start-position-right-left + $tool-indicator-width;
		@include breakpoint(lg) {
			right:$tool-indicator-start-position-right-left-lg + $tool-indicator-width;
		}
		@include breakpoint(md) {
			right:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md;
		}
	}
	&:nth-child(6){
		right:$tool-indicator-start-position-right-left + $tool-indicator-width*2 ;
		@include breakpoint(lg) {
			right:$tool-indicator-start-position-right-left-lg + $tool-indicator-width*2;
		}
		@include breakpoint(md) {
			right:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md*2;
		}
	}

	&:nth-child(7), &:nth-child(8), &:nth-child(9){
		top:$tool-indicator-top-position ;
	}
	&:nth-child(7){
		left:$tool-indicator-start-position-right-left;
		@include breakpoint(lg) {
			left:$tool-indicator-start-position-right-left-lg;
		}
		@include breakpoint(md) {
			left:$tool-indicator-start-position-right-left-md;
		}
	}
	&:nth-child(8){
		left:$tool-indicator-start-position-right-left + $tool-indicator-width;
		@include breakpoint(lg) {
			left:$tool-indicator-start-position-right-left-lg + $tool-indicator-width;
		}
		@include breakpoint(md) {
			left:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md;
		}
	}
	&:nth-child(9){
		left:$tool-indicator-start-position-right-left + $tool-indicator-width*2;
		@include breakpoint(lg) {
			left:$tool-indicator-start-position-right-left-lg + $tool-indicator-width*2;
		}
		@include breakpoint(md) {
			left:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md*2;
		}
	}

	&:nth-child(10), &:nth-child(11), &:nth-child(12){
		top:$tool-indicator-top-position  + $tool-indicator-height;
	}

	&:nth-child(10){
		left:$tool-indicator-start-position-right-left;
		@include breakpoint(lg) {
			left:$tool-indicator-start-position-right-left-lg;
		}
		@include breakpoint(md) {
			left:$tool-indicator-start-position-right-left-md;
		}
	}
	&:nth-child(11){
		left:$tool-indicator-start-position-right-left + $tool-indicator-width;
		@include breakpoint(lg) {
			left:$tool-indicator-start-position-right-left-lg + $tool-indicator-width;
		}
		@include breakpoint(md) {
			left:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md;
		}
	}
	&:nth-child(12){
		left:$tool-indicator-start-position-right-left + $tool-indicator-width*2;
		@include breakpoint(lg) {
			left:$tool-indicator-start-position-right-left-lg + $tool-indicator-width*2;
		}
		@include breakpoint(md) {
			left:$tool-indicator-start-position-right-left-md + $tool-indicator-width-md*2;
		}
	}

}



#howSlider{
	padding-top:$baseline;
	.carousel-item{
		.img-container{
			img{
				width:580px;
				@include breakpoint(md) {
					width:420px;
				}
				@include breakpoint(sm) {
					width:320px;
				}
			}
		}
		
	}
	.carousel-indicators{
		position:relative;
		width:100%;
		bottom:0;
		margin:0;
		padding:0;
		display:inline-block;
		padding:20px;
		@include transition-duration(.2s);
		.how-indicator{
			width:100%;
			padding:10px 20px;
			margin-bottom:$baseline;
			cursor:pointer;
			@include transition-duration(.2s);
			p{
				margin:0;
			}
			&.active{
				margin-left:-20px;
			}
			&.active, &:hover{
				background:$tertiary-color;
				color:white;
			}
			@include breakpoint(md) {
				padding:5px 10px;
				p{
					font-size:14px;
				}
			}
			@include breakpoint(sm) {
				margin-bottom:10px;
			}
		}
	}
}





