
#pricing-hero{
	padding-top:$baseline*8;
	@include breakpoint(sm) {
		padding-top:$baseline*5;
	}
}

ul.pricing-list{
	width:100%;
	li{
		border-bottom:1px solid $border-color;
		padding:$baseline/2 0;
		vertical-align: middle;
		p{
			margin-bottom:0;
			display: inline-block;
			vertical-align: middle;
			font-size:20px;
			i{
				margin-right:10px;
				position:relative;
				top:3px;
			}
		}
		&:last-of-type{
			border:none;
		}
	}
}

.pricing-card-deck{
	@include breakpoint(sm) {
		flex-direction:column;
		.card{
    		margin-bottom: 15px;
		}
	}
	.card-body{
		padding-bottom:$baseline;
	}
	.card-footer{
		padding-top:0!important;
		.btn{
			padding:22px;
		}
	}
}

///make pricing panels smaller on md size
@include breakpoint(md) {
	.pricing-card-deck{
		.card{
			.card-header{
				h3{
					font-size:30px;
				}
			}
			.card-body{
				padding:20px;
				padding-bottom:0;
				text-align:left;
				ul.pricing-list{
					li{
						p{
							font-size:14px;
						}
					}
				}
				.pricing-feature{
					p{
						font-size:14px;
						&.body-small{
							font-size:12px;
							line-height:16px;
						}
					}
				}
			}
		}
		.engagement-component{
			text-align:left;
		}
	}
}

.pricing-feature{
	background:$off-white-color;
	margin-bottom:$baseline;
	padding:$baseline;
}

.price-indicator{
	position:relative;
	display:inline-block;
	right: 38px;
	h1{
		font-size:80px!important;
		font-weight:700;
		margin-bottom:0;
		.dollar-symbol{
			font-size:32px;
			position: absolute;
			top: -13px;
			left: -20px;
		}
		.per{
			font-size:32px;
			position: absolute;
			top: 13px;
			left: 96px;
		}
	}
}


#free-how{
	background:$primary-light-color url("../images/price-panel-bg.png") no-repeat center center;
	background-size:100%;
	.pricing-feature{
		@include breakpoint(md) {
			text-align:center;
		}
	}
}